<%# 'facet' local var = facet configuration field object %>
<% rbrowse_facet_item.docs.each do |doc| %>
  <% doc_presenter = show_presenter(doc) %>
  <li>
    <span class="facet-label">
      <%= link_to(rbrowse_facet_item.value, solr_document_path(doc['id'])) %>
    </span>
  </li>
  <li>
    <%= render_rbrowse_display_fields(facet, doc_presenter) %>
  </li>
<% end %>
