<div class="page_links">

  <%= link_to_if(xbrowse_paginate.has_previous, '&laquo; Previous'.html_safe, xbrowse_previous_link(xbrowse_paginate)) %>
  |
  <%= link_to_if(xbrowse_paginate.has_next, 'Next &raquo;'.html_safe, xbrowse_next_link(xbrowse_paginate)) %>

</div>
