
<div id="sidebar" class="<%= sidebar_classes %>">
    <%#= render 'search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
    <p>Subject index</p>
    <p>Starting point: <%= params[:q] %></p>
    <p>Browsing subject headings over a set of: TODO</p>
    <p>Limited to: TODO</p>

</div>
